<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include(theme_header +'/header_css') %> 
    <%- include(theme_header +'/header_js') %> 
    <title><%= title %> </title>
</head>
<body class="bg-dark">
    <h1 class="text-center text-white mt-5">Bienvenue sur <%= title %> </h1>

    
</body>
</html>