<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration | Au pied du Morclan</title>
    <%- include('../../Admin/asset/components/header') %>
    
</head>
<body >
    <%- include('../../Admin/asset/components/nav') %>
   
    
<div class="container row  pt-5 mt-5 p-5 ">
    <h1 >Emails des inscrits : </h1>
    <% email.forEach(email => { %>
       
        <%= email.email %>, 
     
    <% }) %>

</div>
    
    


    
    
</body>
</html>