<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration Blog | Au pied du Morclan</title>
    <%- include('../../Admin/asset/components/header') %> 

    <script src="/asset/tinymce/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
        
        <script src="https://cdn.tiny.cloud/1/75lpz4hm0dsvol63mjrqfdqcbrjsey6zewt4wpoi6eoq160r/tinymce/6/plugins.min.js" referrerpolicy="origin"></script>
        <script>
            tinymce.init({
              selector: 'textarea',
              plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
              toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
              images_upload_url: '/admin/upload/'
            });
          </script>
</head>
<body>
    <%- include('../../Admin/asset/components/nav') %> 

   <div class="container mt-5 pt-5">

    <form action="/admin/blog/publish/send" method="post">

        
            <label for="title">Titre : </label> <input type="text" name="title"> <br><br>
            <label for="categorie">Catégorie : </label>  <select name="categorie" id="categorie"><br><br>
                <% categorie.forEach(categorie => { %>
                    <option value="<%= categorie.name %> "><%= categorie.name %></option>

                 
                <% }) %>
            </select> <br><br>
            <label for="description">Description : </label> <input type="text" name="desc"><br><br>
            <label for="url">https://aupieddumorclan.fr/blog/article/</label><input type="text" name="article_url"><br><br>
            <textarea name="body" id="" cols="30" rows="10"></textarea>
            <br>
            <input type="submit" class="btn btn-primary" name="Publier" placeholder="Publier" value="Publier">
        


    </form>

   </div>

    
    
    
    
</body>
</html>