@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Seymour+One&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
html, body {
    height: 100%;
  }
body {
    font-family: 'Seymor One', sans-serif;
    color: black;
}
.main {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}
.main .nav{ 
    justify-content: left;
}
.main .content {
   width: 100%;
   

}
.center {
    text-align: center;
}
.title-1 {
    font-size: 50px;
}

.stats-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
   
}
.flexitem {
    width: auto;
    height: auto;
    border-radius: 15px;
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.161));;
   
}
.user-stats {
    background-color: #F56F62;
}
.page-stats {
    background-color: #F5AF31;
}
.article-stats {
    background-color: #A8443B;
}