.nav {
    align-self: left;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
    width: fit-content;
    height: 100%;
    background-color: #32a6a8;
   
}
.title {
    font-size: 35px;
}
a {
    text-decoration: none;
    color: black;

}